<div class="container" style="border: 1px red solid; text-align: center;margin: auto;
  position: relative;
  top: 30%; ">
  <div style="display: inline-block;border: 1px black solid;">
    <div class="text-center">
      <h1>Create Your avatar with a click</h1>
    </div>
    <div class="row">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" id="userInput" class="form-control" placeholder="Whats on your mind">
        </div>
        <button type="submit" id="userButton" class="btn btn-primary mb-2">Create avatar</button>
    </div>
    <div class="row" style="height: 300px">
        <img id="userImage" src="https://robohash.org/YOUkjcd-TEXT.png">
    </div>
  </div>
</div>
