// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height:100%;
  background-color: Azure;
}

.container {
  text-align: center;margin: auto;
  position: relative;
  top: 30%;
}

.inner-div{
  display: inline-block;
  border: 1px black solid;
  text-align: center;
  padding: 10px;
}

.image-div{
  height: 300px;
}
